* {
    margin: 0;
    padding: 0;
}

.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;

}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;


}

.btn {
    background-color: #30B868;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.banner {
    background-repeat: no-repeat;
    position: relative;


}

.banner-cont {
    position: absolute;
    top: 300px;
    left: 400px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    gap: 15px;
}

.b-btn {
    border: none;
    padding: 18px 35px;
    margin: 24px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.card-info {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
}

.card {
    gap: 24px;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.note-container {
    display: flex;

}



/* brain */
.brain {
    display: flex;
    padding: 120px;
}

/* redy */
.redy {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 80px 40px 80px 40px;
}
.footer-container{
    background-color:rgba(0, 25, 49, 1);
    padding: 30px;
    color: rgba(250, 250, 250, 1);;
}

.footer-d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 120px;
}
#ft{
    margin-left: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30;
}